<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">List of Categories</div>
                    <div class="card-body">Categories:
                    <select class="form-control" v-on:change="products($event.target.value)">
                        <option value="" selected="selected">Select Categories</option>
                        <option v-for="category in categotieslist" :value="category.id">{{ category.name }}</option>
                    </select>                     
                    <div>                            
                        <ul v-for="product in productlists">                        
                                <li>{{ product.name }}</li>
                            <ul>
                                <li>{{ product.description }}</li>
                                <li>${{ product.price }}</li>
                                <li>
                                    <img width="150" height="150" class="img-thumbnail" :src="product.image" :style="`background-color:${bgColor} !important`"/>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
    export default {
        data() {
                return {
			        languages: [],
                    categotieslist: [],
                    productlists: [],
                }
        },        
        mounted() {
            this.getCategoties();
        },
        methods: {
            getCategoties() {
                axios
                    .get('Categories/list')
                    .then(response => { this.categotieslist = response.data});
            },
            products(cat_id) {
	        axios.get('Products/list', {
                    params: {
                        pid: cat_id
                    }
                })    
                .then(response => { this.productlists = response.data });
	   }
        }
    }
</script>
